<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Knop 1 - Pagina</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="bg-[#f7f3e9]">
  <!-- Header -->
  <header class="bg-[#b4955f] shadow-md">
    <div class="container mx-auto flex justify-between items-center py-4 px-6">
      <div class="text-2xl font-bold text-gray-800">
        <a href="/index.html"><img src="/img/logo.png" alt="Klant Logo" class="h-auto w-10"></a>
      </div>
      <nav class="space-x-6 text-slate-50">
        <a href="#" class="hover:text-[#6a734a]">Dienstverlening A</a>
        <a href="#" class="hover:text-[#6a734a]">Dienstverlening B</a>
        <a href="#" class="hover:text-[#6a734a]">Diensverlening C</a>
        <a href="#" class="hover:text-[#6a734a]">Contact</a>
      </nav>
    </div>
  </header>

  <!-- Content -->
  <main class="container mx-auto my-10 px-6">
    <div class="text-center mb-10">
      <h1 class="text-3xl font-bold text-gray-800 mb-4">Persoonlijk Inzicht in Gedrag</h1>
      <p class="text-lg text-gray-600 mb-6">
        Je bent enthousiast en hebt vele innovatieve plannen! Jij wil laten zien wat je in huis hebt en anderen daarmee inspireren. Wanneer je moeite hebt te kiezen welke plannen het beste zijn voor jou of de organisatie, dan heb je inzicht nodig in gedrag. Hoe kijk jij naar (jouw) gedrag en welk perspectief hebben anderen?
      </p>
      <p class="text-lg text-gray-600 mb-6">
        Ik help jou met meerdaagse teamtrainingen en individuele coachtrajecten. Wanneer jij of jouw collega’s inzicht krijgen in jouw of hun gedrag, zal je ook in de toekomst vele van jouw ideeën kunnen realiseren.
      </p>
      <a href="/index.html#contact-section" class="px-6 py-3 bg-[#b4955f] text-white font-bold rounded-lg hover:bg-[#6a734a] transition duration-200">
        Neem voor meer informatie persoonlijk contact op met mij
      </a>
    </div>
  </main>
</body>
</html>